
@import "./reset.css";
@import "./global.css";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}


body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    font-family: var(--font-family-400);
    font-weight: var(--font-weight-normal);
    color: var(--font-color-white);
}

body::-webkit-scrollbar {
    width: 29px;
}
body::-webkit-scrollbar-track {
    background: var(--bg-color-blue-blur);
    border: 5px solid var(--font-color-white);
    border-radius: 19.5px;
    padding: 15px 8px;
}
body::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: 19.5px;
    width: 80%;
}


html {
    scroll-behavior: smooth;
}

ul[class],
ol[class] {
    list-style: none;
}

a {
    text-decoration: none;
    color:inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
}

img {
    max-width: 100%;
    display: block;
}


/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
    border: none;
}

#root {
    min-height: 100vh;
  	overflow: hidden;
  	position: relative;
    z-index: 90;
}

button{
    cursor: pointer;
}

input{
    outline: none;
}